## Assignment 3 - House Price Prediction

**Requirements:** 
- Load data, link: https://www.kaggle.com/datasets/prokshitha/home-value-insights
- Preprocessing data:
    - check and handle missing values
    - select columns
    - encode categorical columns (if you select them for training)
    - train/test split
- Use `Linear Regression`to predict the house price
- Present the evaluation metrics on test data: MSE, MAE, R2 score

In [1]:
import pandas as pd
import numpy as np

## 1. Load data

In [3]:
df = pd.read_csv('/kaggle/input/home-value-insights/house_price_regression_dataset.csv')

In [4]:
df

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06
...,...,...,...,...,...,...,...,...
995,3261,4,1,1978,2.165110,2,10,7.014940e+05
996,3179,1,2,1999,2.977123,1,10,6.837232e+05
997,2606,4,2,1962,4.055067,0,2,5.720240e+05
998,4723,5,2,1950,1.930921,0,7,9.648653e+05
999,3268,4,2,1983,3.108790,2,2,7.425993e+05

## 2. Data Preprocessing

## 3. Model

## 4. Evaluation